body {
    background-color: #E6F7FF;
    color: #333333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, p {
    text-align: center;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }
  .project {
    border: 1px solid #CCCCCC; /* Muted Gray Border */
    padding: 15px;
    margin: 10px;
  }
  .project_image {
    padding: 15px;
    text-align: left;
  }

  .project:hover {
    box-shadow: 0 0 11px #00FF00; /* Neon Green Box Shadow on Hover */
  }

  /* Navigation Bar Styles */
  .navbar {
    background-color: #333333; /* Dark gray background */
    color: #f0f0f0; /* Light gray text */
    overflow: hidden;
  }
  .navbar a {
    float: left;
    display: inline-block;
    color: #f0f0f0; /* Light gray text */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
  }
  .navbar a:hover {
    background-color: #FF6600; /* Blue background on hover */
    color: #f0f0f0; /* Light gray text on hover */
  }
  
  .project a {
    display: block;
    text-align: center;
    margin-top: 10px; /* Optional: Add some top margin for spacing */
  }

  .container {
    text-align: center; /* Center-align content */
  }
  
  .container ul {
    display: inline-block; /* Make the <ul> inline-block */
    text-align: left;      /* Align text to the left within the <ul> */
    padding-left: 20px;    /* Add some padding to the left of the <ul> */
  }
  
  .container ul li {
    margin-right: 20px; /* Add some right margin for spacing */
  }

  a {
    color: #FF6600; /* Bright Orange */

  }

  a:hover {
    color: #FF5500; /* Slightly darker orange on hover */
}

/* Footer */
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.banner {
  background-image: url('banner-background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #333333;
  padding: 60px 0;
}

.banner img {
  width: 150px; /* Adjust the size of your profile image */
  border-radius: 50%; /* Makes the image round if it's a headshot */
}

.banner h1 {
  font-size: 28px;
}

.banner p {
  font-size: 18px;
  margin: 10px 0;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007ACC;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #00588A;
}