body {
    background-color: #E6F7FF;
    color: #333333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, p {
    text-align: center;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }
  .project {
    border: 1px solid limegreen;
    padding: 15px;
    margin: 10px;
  }

  .project:hover {
    box-shadow: 0 0 11px #00FF00; /* Neon Green Box Shadow */
  }

  /* Navigation Bar Styles */
  .navbar {
    overflow: hidden;
    background-color: #003366;
  }
  .navbar a {
    float: left;
    display: block;
    color: #008080;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .project a {
    display: block;
    text-align: center;
    margin-top: 10px; /* Optional: Add some top margin for spacing */
  }

  .container {
    text-align: center; /* Center-align content */
  }
  
  .container ul {
    display: inline-block; /* Make the <ul> inline-block */
    text-align: left;      /* Align text to the left within the <ul> */
    padding-left: 20px;    /* Add some padding to the left of the <ul> */
  }
  
  .container ul li {
    margin-right: 20px; /* Add some right margin for spacing */
  }

  a {
    color: #C0C0C0;
  }

  /* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }